*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  display: block;
  font-size: 12px;
  font-family: helvetica, sans-serif;
}

div {
    position: relative;
    float: left;
    width:  400px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.baku {
  background-image: url("/images/baku.jpg")
}

.london {
  background-image: url("/images/london.png")
}

.rome {
  background-image: url("/images/rome.jpg")
}

.madrid {
  background-image: url("/images/madrid.jpg")
}

.container {
  margin: 10px 10px;
  width: 100%;
  padding: 5px 5px;
}

h1 {
  font-size: 1.8em;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
  background-color: #dadada;
}

h3 {
  font-size: 1.4em;
  font-weight: 300px;
}

/* code added to create two-column design and added closing tag. */
@media screen and (min-width: 575px){
  div {
    background-color: #dadada;
    float: left;
    margin: 10px 10px;
    width: 45%;
    padding: 20px 20px;
  }
}

h1 {
  font-size: 1.8em;
  margin: 10px;
}

h3 {
  font-size: 1.2em;
  font-weight: 300;
  margin: 10px;
}


@media screen and (min-width: 855px){
div {
  float: left;
  margin: 10px;
  width: 22%;
  padding: 10px 10px;
  }
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  margin: 10px;
}
